<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/articulo.css">
    <link rel="stylesheet" href="../statics/styles/basics.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <title>TecnoAyuda</title>
</head>
<body>
    <header>
        <h1><span id="tecno">Tecno</span><span id="ayuda">Ayuda</span></h1>
        <span id="slogan">Soluciones modernas, para problemas modernos</span>
    </header>
    <nav class="buscador"">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="buscar">
    </nav>
    <nav class="barra">
        <a href="../index.html" id="novedades">Novedades</a>
        <a href="./articulo.html" id="articulo">Artículo</a>
        <a href="./quejas.html" id="quejas">Quejas y sugerencias</a>
    </nav>
    <br>
    <nav class="filtros">
        <strong class="esp">Filtrar</strong>
        <br>
        <span class="esp">Por:</span>
        <br><br>
        <span>Dispositivo</span>
        <ul>
            <li><a href="../index.html" class="filtro"><u>Smarthphones</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Tablets</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Laptops</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Ultrabooks</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Notebooks</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Computadores</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Impresoras</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Televisores</u></a></li>
        </ul>
        <span>Marca</span>
        <ul>
            <li><a href="../index.html" class="filtro"><u>Apple</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Samsung</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Xiaomi</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Motorola</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Oppo</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Sony</u></a></li>
            <li><a href="../index.html" class="filtro"><u>Lenovo</u></a></li>
            <li><a href="../index.html" class="filtro"><u>HP</u></a></li> 
            <li><a href="../index.html" class="filtro"><u>LG</u></a></li>
        </ul>
    </nav>
    <section>
        Articulo
    </section>
    <footer>
        <span>© Copyright 2021 TecnoAyuda</span>
        <u>¿Quíenes somos?</u>
        <u>Contactanos</u>
    </footer>
</body>
</html>